@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}
@font-face {
  font-family: "TTFirsNeue-DemiBold";
  src: url('../asset/TTFirsNeue-Black.ttf');
  src: url('../asset/TTFirsNeue-DemiBold.ttf');
  src: url('../asset/TTFirsNeue-Regular.ttf');
  src: url('../asset/TTFirsNeue-Medium.ttf');
  src: url('../asset/TTFirsNeue-Light.ttf');
  font-style: normal;
  }

  @font-face {
    font-family: "Aribau Grotesk";
    src: url('../asset/AribauGrotesk-Regular.ttf');
    font-style: normal;
    }
.aribau{
  font-family: 'Aribau Grotesk';
}
.ttf{
  font-family: 'TTFirsNeue-DemiBold';
}
.shadow{
  border: 1px solid #b3b3b3;
  box-shadow: 6px 8px 0 0 #000000;
}
.border{
  border:1px soild #dcdcdc;
}